 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <h3>Consumer First</h3>
                    <p>Technology needs to solve consumer problems. It can be tricky, but we will guide you through our rigorous design process to unearth actionable consumer insights that will help you delight them with your products.</p>
                </div>
                <div class="col-lg-4">
                    <h3>Solve Business Cases</h3>
                    <p>We don’t build escalator to nowhere. We build products that help businesses grow. The metrics we care about are the ones that will set your company up for success.</p>
                </div>
<!--                 <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>